USE [master]
GO
/****** Object:  Database [U3ADB]    Script Date: 27/11/2013 3:33:33 PM ******/
CREATE DATABASE [U3ADB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'U3ADB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\U3ADB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'U3ADB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\U3ADB_log.ldf' , SIZE = 1792KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [U3ADB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [U3ADB]
GO
/****** Object:  Table [dbo].[Area]    Script Date: 27/11/2013 3:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Area](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Room] [varchar](50) NOT NULL,
	[VenueId] [uniqueidentifier] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Area] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 27/11/2013 3:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Attendance](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Code] [varchar](1) NOT NULL,
	[SessionId] [uniqueidentifier] NOT NULL,
	[MemberId] [int] NOT NULL,
 CONSTRAINT [PK_Attendance_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AttendanceCode]    Script Date: 27/11/2013 3:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AttendanceCode](
	[Id] [varchar](1) NOT NULL,
 CONSTRAINT [PK_AttendanceState_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ClassGroup]    Script Date: 27/11/2013 3:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ClassGroup](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[StudentCount] [int] NOT NULL,
	[DefaultAreaId] [uniqueidentifier] NOT NULL,
	[CourseInstanceId] [uniqueidentifier] NOT NULL,
	[ClassGroupName] [varchar](50) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_ClassGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CourseDescription]    Script Date: 27/11/2013 3:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CourseDescription](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[CourseName] [varchar](100) NOT NULL,
	[CourseDescription] [varchar](500) NOT NULL,
	[OrganizationId] [uniqueidentifier] NOT NULL,
	[CourseNumber] [varchar](50) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CourseInstance]    Script Date: 27/11/2013 3:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CourseInstance](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[CourseId] [uniqueidentifier] NOT NULL,
	[RegionId] [uniqueidentifier] NOT NULL,
	[CourseCode] [varchar](10) NOT NULL,
	[CourseLeader] [varchar](50) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_CourseInstance] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Member]    Script Date: 27/11/2013 3:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[Id] [int] NOT NULL,
	[OrganizationId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Organization]    Script Date: 27/11/2013 3:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Organization](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Organization] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Region]    Script Date: 27/11/2013 3:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Region](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[OrganizationId] [uniqueidentifier] NOT NULL,
	[RegionName] [varchar](50) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Region] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Session]    Script Date: 27/11/2013 3:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[ClassGroupId] [uniqueidentifier] NOT NULL,
	[AreaId] [uniqueidentifier] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Session] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Suburb]    Script Date: 27/11/2013 3:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Suburb](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[SuburbName] [varchar](50) NOT NULL,
	[Postcode] [varchar](4) NOT NULL,
	[RegionId] [uniqueidentifier] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Suburb] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 27/11/2013 3:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfile](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](56) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Venue]    Script Date: 27/11/2013 3:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Venue](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[VenueName] [varchar](100) NOT NULL,
	[VenueAddress] [varchar](100) NOT NULL,
	[SuburbId] [uniqueidentifier] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Venue] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[webpages_Membership]    Script Date: 27/11/2013 3:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_Membership](
	[UserId] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[ConfirmationToken] [nvarchar](128) NULL,
	[IsConfirmed] [bit] NULL,
	[LastPasswordFailureDate] [datetime] NULL,
	[PasswordFailuresSinceLastSuccess] [int] NOT NULL,
	[Password] [nvarchar](128) NOT NULL,
	[PasswordChangedDate] [datetime] NULL,
	[PasswordSalt] [nvarchar](128) NOT NULL,
	[PasswordVerificationToken] [nvarchar](128) NULL,
	[PasswordVerificationTokenExpirationDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[webpages_OAuthMembership]    Script Date: 27/11/2013 3:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_OAuthMembership](
	[Provider] [nvarchar](30) NOT NULL,
	[ProviderUserId] [nvarchar](100) NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Provider] ASC,
	[ProviderUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[webpages_Roles]    Script Date: 27/11/2013 3:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[webpages_UsersInRoles]    Script Date: 27/11/2013 3:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_UsersInRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Area] ([Id], [Room], [VenueId], [Active]) VALUES (N'f3614859-1c0f-4b0f-97c7-1860f5055879', N'gg23', N'299ec0d6-d616-4087-aa12-0998aa3829b4', 1)
INSERT [dbo].[Area] ([Id], [Room], [VenueId], [Active]) VALUES (N'1db702c4-2d73-4357-8cdd-1d512d074fce', N'level1 room2', N'e884103f-4245-46d2-8500-2c915d56af71', 1)
INSERT [dbo].[Area] ([Id], [Room], [VenueId], [Active]) VALUES (N'd19db2f5-69b8-4d0f-adea-50a61b7c2ef9', N'room 10', N'9be8c9c9-6c3b-40f0-87c5-655f407c032f', 1)
INSERT [dbo].[Attendance] ([Id], [Code], [SessionId], [MemberId]) VALUES (N'f9c12cd7-54a0-4d53-8ac2-03578a754dd8', N'V', N'fcb6ee07-7073-47cc-9538-679b41f5935b', 9865)
INSERT [dbo].[Attendance] ([Id], [Code], [SessionId], [MemberId]) VALUES (N'c1fdc4e3-264f-4c60-9001-1392f667ed11', N'A', N'fcb6ee07-7073-47cc-9538-679b41f5935b', 3276)
INSERT [dbo].[Attendance] ([Id], [Code], [SessionId], [MemberId]) VALUES (N'c7723686-79bc-4d70-8a32-1d6e26a2a7af', N'P', N'0d4b8e0f-6795-4bca-aedb-00c2fd5e6c68', 14)
INSERT [dbo].[AttendanceCode] ([Id]) VALUES (N'A')
INSERT [dbo].[AttendanceCode] ([Id]) VALUES (N'P')
INSERT [dbo].[AttendanceCode] ([Id]) VALUES (N'V')
INSERT [dbo].[ClassGroup] ([Id], [StudentCount], [DefaultAreaId], [CourseInstanceId], [ClassGroupName], [Active]) VALUES (N'c3463b87-d3b4-4c66-9b9d-191e9fa0abd0', 15, N'44a5a5d7-2404-46ab-b021-5bb22afdb068', N'911e3967-d02a-4896-baeb-095018a749f9', N'Pre-interm. 01', 1)
INSERT [dbo].[ClassGroup] ([Id], [StudentCount], [DefaultAreaId], [CourseInstanceId], [ClassGroupName], [Active]) VALUES (N'483dfbd6-af16-4b70-bd41-5f5c7a6cd432', 8, N'1db702c4-2d73-4357-8cdd-1d512d074fce', N'9686161c-39d8-4c15-a0e9-147083ad6a15', N'Advanced 02', 1)
INSERT [dbo].[ClassGroup] ([Id], [StudentCount], [DefaultAreaId], [CourseInstanceId], [ClassGroupName], [Active]) VALUES (N'd807c280-9cdf-46d6-9910-d7b50c0ea064', 18, N'1db702c4-2d73-4357-8cdd-1d512d074fce', N'911e3967-d02a-4896-baeb-095018a749f9', N'Intermediate 03', 1)
INSERT [dbo].[CourseDescription] ([Id], [CourseName], [CourseDescription], [OrganizationId], [CourseNumber], [Active]) VALUES (N'61bb2aa3-0418-4ac2-9e43-000d056a87a0', N'TOPICAL ISSUES', N'Our friendly group discusses two topics each meeting. Come and discuss current affairs and debate social issues. New members are always welcome.', N'1609436f-cf87-4054-9803-b5063d91b675', N'TOPICAL ISSUES', 1)
INSERT [dbo].[CourseDescription] ([Id], [CourseName], [CourseDescription], [OrganizationId], [CourseNumber], [Active]) VALUES (N'dc841b3a-600a-4187-9af7-004d40bcb2c6', N'PLAY READING', N'No need for acting skills, just an interest in reading plays with a friendly group.', N'1609436f-cf87-4054-9803-b5063d91b675', N'1334', 1)
INSERT [dbo].[CourseDescription] ([Id], [CourseName], [CourseDescription], [OrganizationId], [CourseNumber], [Active]) VALUES (N'e4d67eb5-6544-4af3-b42d-006b2ee21842', N'SIDNEY KIDMAN AND THE CATTLE INDUSTRY', N'Sidney Kidman was knighted for his work in expanding the cattle industry of northern Australia but was he a hero or a villain?', N'1609436f-cf87-4054-9803-b5063d91b675', N'1112', 1)
GO
INSERT [dbo].[CourseInstance] ([Id], [CourseId], [RegionId], [CourseCode], [CourseLeader], [Active]) VALUES (N'9fb6f58b-640e-4d96-928a-08d846a856a2', N'fbfde1c3-e6f6-4a57-82c3-015a2dda7afb', N'c1ecc2b9-3ae9-4635-b394-22711ad1b71c', N'Code 1', N'leader', 0)
INSERT [dbo].[CourseInstance] ([Id], [CourseId], [RegionId], [CourseCode], [CourseLeader], [Active]) VALUES (N'911e3967-d02a-4896-baeb-095018a749f9', N'ae235c78-a6dc-40ff-b49a-049f11b08039', N'c1ecc2b9-3ae9-4635-b394-22711ad1b71c', N'NBLTA01', N'SteveJobs', 0)
INSERT [dbo].[CourseInstance] ([Id], [CourseId], [RegionId], [CourseCode], [CourseLeader], [Active]) VALUES (N'9686161c-39d8-4c15-a0e9-147083ad6a15', N'39b9cf42-c844-486f-86d1-3e612a797123', N'c1ecc2b9-3ae9-4635-b394-22711ad1b71c', N'NBQGO01', N'SteveJobs', 1)
INSERT [dbo].[Member] ([Id], [OrganizationId]) VALUES (13, N'1609436f-cf87-4054-9803-b5063d91b675')
INSERT [dbo].[Member] ([Id], [OrganizationId]) VALUES (14, N'1609436f-cf87-4054-9803-b5063d91b675')
INSERT [dbo].[Member] ([Id], [OrganizationId]) VALUES (23, N'1609436f-cf87-4054-9803-b5063d91b675')
INSERT [dbo].[Organization] ([Id], [Name]) VALUES (N'1609436f-cf87-4054-9803-b5063d91b675', N'U3A')
INSERT [dbo].[Region] ([Id], [OrganizationId], [RegionName], [Active]) VALUES (N'c1ecc2b9-3ae9-4635-b394-22711ad1b71c', N'1609436f-cf87-4054-9803-b5063d91b675', N'Northern Beaches', 1)
INSERT [dbo].[Region] ([Id], [OrganizationId], [RegionName], [Active]) VALUES (N'83f2a2bc-f720-45dd-b814-36ac4816783f', N'1609436f-cf87-4054-9803-b5063d91b675', N'Inner West', 1)
INSERT [dbo].[Region] ([Id], [OrganizationId], [RegionName], [Active]) VALUES (N'4c70582b-081e-4353-82f8-64dc4a77c309', N'1609436f-cf87-4054-9803-b5063d91b675', N'Harbourside North', 1)
INSERT [dbo].[Session] ([Id], [ClassGroupId], [AreaId], [Date], [Active]) VALUES (N'0d4b8e0f-6795-4bca-aedb-00c2fd5e6c68', N'2c0d8fd8-7946-4d2d-a0b3-d9ef6cf4ec00', N'5a1ee61d-aa4c-4730-b7c3-e276f7ef13ae', CAST(0x0000A2AD00000000 AS DateTime), 1)
INSERT [dbo].[Session] ([Id], [ClassGroupId], [AreaId], [Date], [Active]) VALUES (N'44971c29-9663-4279-b5c0-2f14b9ee8e4c', N'9011c632-eba0-40a9-b5c6-f37a205bcccd', N'44a5a5d7-2404-46ab-b021-5bb22afdb068', CAST(0x0000A29F00EEF3E0 AS DateTime), 1)
INSERT [dbo].[Session] ([Id], [ClassGroupId], [AreaId], [Date], [Active]) VALUES (N'ec5b15eb-40fb-4db1-90ae-3466e3e6e6c7', N'd807c280-9cdf-46d6-9910-d7b50c0ea064', N'1db702c4-2d73-4357-8cdd-1d512d074fce', CAST(0x0000A28C00FE0F10 AS DateTime), 1)
INSERT [dbo].[Suburb] ([Id], [SuburbName], [Postcode], [RegionId], [Active]) VALUES (N'c063a583-d0b4-4579-95a2-03902c5f553f', N'PYMBLE', N'2073', N'2ff3da65-144e-4384-a7d7-e1af7c4ce56d', 1)
INSERT [dbo].[Suburb] ([Id], [SuburbName], [Postcode], [RegionId], [Active]) VALUES (N'f40b6203-ff3a-40ec-8108-081fb95c4258', N'AVALON', N'2107', N'c1ecc2b9-3ae9-4635-b394-22711ad1b71c', 1)
INSERT [dbo].[Suburb] ([Id], [SuburbName], [Postcode], [RegionId], [Active]) VALUES (N'09c166ba-52ea-4375-a3dd-0fee276cd269', N'MAROUBRA', N'2035', N'e6f69945-baa0-4a75-af2c-cda874793b03', 1)
SET IDENTITY_INSERT [dbo].[UserProfile] ON 

INSERT [dbo].[UserProfile] ([UserId], [UserName]) VALUES (2, N'reg')
INSERT [dbo].[UserProfile] ([UserId], [UserName]) VALUES (7, N'SerenaWilliams')
INSERT [dbo].[UserProfile] ([UserId], [UserName]) VALUES (6, N'SteveJobs')
SET IDENTITY_INSERT [dbo].[UserProfile] OFF
INSERT [dbo].[Venue] ([Id], [VenueName], [VenueAddress], [SuburbId], [Active]) VALUES (N'68e28138-ceb7-4758-8268-0715a7e927f1', N'FOREST COMMUNITY ARTS CENTRE', N'Forestville Shopping Centre Darley St  ', N'9f288c34-624a-4dea-a771-f774203deb12', 1)
INSERT [dbo].[Venue] ([Id], [VenueName], [VenueAddress], [SuburbId], [Active]) VALUES (N'e21e173a-3d67-4cef-bb4e-0761ee890f3c', N'CUSTOMS HOUSE LIBRARY', N'31 Alfred St', N'0be0ad2c-f2b0-4d93-b247-fdd7dfe0e730', 1)
INSERT [dbo].[Venue] ([Id], [VenueName], [VenueAddress], [SuburbId], [Active]) VALUES (N'db8a3075-f120-4244-a5f0-07ae6573a31a', N'PITTWATER PRESBYTERIAN CHURCH', N'Corner Robertson Road and Ocean Avenue', N'9f5ebc8c-43b6-4647-9e77-6fa1dae29e52', 1)
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (2, CAST(0x0000A254005088F1 AS DateTime), NULL, 1, CAST(0x0000A261003508A4 AS DateTime), 0, N'AHeZcG5JskWnjMHIt+rn2XQ1ZY4LHwykqgddh9Q3ng39xTgoV9sYKjdICVvUX9vlMw==', CAST(0x0000A254005088F1 AS DateTime), N'', NULL, NULL)
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (5, CAST(0x0000A27E00295145 AS DateTime), NULL, 1, NULL, 0, N'AKuy/KNd3CIcDem3vWlPiWmSNQ/asmShqJiBzhNyrGsSFoVCfG2dVCJw8QIZ6/+CRg==', CAST(0x0000A27E00295145 AS DateTime), N'', NULL, NULL)
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (6, CAST(0x0000A27E002996ED AS DateTime), NULL, 1, NULL, 0, N'ANUqfkRQcFC/z6qSnwVIpgOz92kG8ns9JeQzQPSudxbsgFbr+C9dv6/qJIDJiGp5QQ==', CAST(0x0000A27E002996ED AS DateTime), N'', NULL, NULL)
SET IDENTITY_INSERT [dbo].[webpages_Roles] ON 

INSERT [dbo].[webpages_Roles] ([RoleId], [RoleName]) VALUES (1, N'Administration')
INSERT [dbo].[webpages_Roles] ([RoleId], [RoleName]) VALUES (2, N'CourseLeader')
INSERT [dbo].[webpages_Roles] ([RoleId], [RoleName]) VALUES (3, N'RegionalCoordinator')
SET IDENTITY_INSERT [dbo].[webpages_Roles] OFF
INSERT [dbo].[webpages_UsersInRoles] ([UserId], [RoleId]) VALUES (2, 3)
INSERT [dbo].[webpages_UsersInRoles] ([UserId], [RoleId]) VALUES (5, 3)
INSERT [dbo].[webpages_UsersInRoles] ([UserId], [RoleId]) VALUES (6, 2)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__UserProf__C9F28456D145D022]    Script Date: 27/11/2013 3:33:33 PM ******/
ALTER TABLE [dbo].[UserProfile] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__webpages__8A2B61606FAB9B2C]    Script Date: 27/11/2013 3:33:33 PM ******/
ALTER TABLE [dbo].[webpages_Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Area] ADD  CONSTRAINT [DF_Area_AreaId]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Area] ADD  CONSTRAINT [DF_Area_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Attendance] ADD  CONSTRAINT [DF_Attendance_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ClassGroup] ADD  CONSTRAINT [DF_ClassGroup_ClassGroupId]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ClassGroup] ADD  CONSTRAINT [DF_ClassGroup_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[CourseDescription] ADD  CONSTRAINT [DF_Course_CourseId]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[CourseDescription] ADD  CONSTRAINT [DF_CourseDescription_OrganizationId]  DEFAULT ('1609436f-cf87-4054-9803-b5063d91b675') FOR [OrganizationId]
GO
ALTER TABLE [dbo].[CourseDescription] ADD  CONSTRAINT [DF_CourseDescription_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[CourseInstance] ADD  CONSTRAINT [DF_CourseInstance_CourseInstanceId]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[CourseInstance] ADD  CONSTRAINT [DF_CourseInstance_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Organization] ADD  CONSTRAINT [DF_Organization_OrganizationId]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Region] ADD  CONSTRAINT [DF_Region_RegionId]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Region] ADD  CONSTRAINT [DF_Region_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Session] ADD  CONSTRAINT [DF_Session_SessionId]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Session] ADD  CONSTRAINT [DF_Session_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Suburb] ADD  CONSTRAINT [DF_Suburb_SuburbId]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Suburb] ADD  CONSTRAINT [DF_Suburb_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Venue] ADD  CONSTRAINT [DF_Venue_VenueId]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Venue] ADD  CONSTRAINT [DF_Venue_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[webpages_Membership] ADD  DEFAULT ((0)) FOR [IsConfirmed]
GO
ALTER TABLE [dbo].[webpages_Membership] ADD  DEFAULT ((0)) FOR [PasswordFailuresSinceLastSuccess]
GO
ALTER TABLE [dbo].[Area]  WITH CHECK ADD  CONSTRAINT [FK_Area_Venue] FOREIGN KEY([VenueId])
REFERENCES [dbo].[Venue] ([Id])
GO
ALTER TABLE [dbo].[Area] CHECK CONSTRAINT [FK_Area_Venue]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_AttendanceCode] FOREIGN KEY([Code])
REFERENCES [dbo].[AttendanceCode] ([Id])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_AttendanceCode]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Member] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([Id])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_Member]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Session] FOREIGN KEY([SessionId])
REFERENCES [dbo].[Session] ([Id])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_Session]
GO
ALTER TABLE [dbo].[ClassGroup]  WITH CHECK ADD  CONSTRAINT [FK_ClassGroup_Area] FOREIGN KEY([DefaultAreaId])
REFERENCES [dbo].[Area] ([Id])
GO
ALTER TABLE [dbo].[ClassGroup] CHECK CONSTRAINT [FK_ClassGroup_Area]
GO
ALTER TABLE [dbo].[ClassGroup]  WITH CHECK ADD  CONSTRAINT [FK_ClassGroup_CourseInstance1] FOREIGN KEY([CourseInstanceId])
REFERENCES [dbo].[CourseInstance] ([Id])
GO
ALTER TABLE [dbo].[ClassGroup] CHECK CONSTRAINT [FK_ClassGroup_CourseInstance1]
GO
ALTER TABLE [dbo].[CourseDescription]  WITH CHECK ADD  CONSTRAINT [FK_CourseDescription_Organization] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[CourseDescription] CHECK CONSTRAINT [FK_CourseDescription_Organization]
GO
ALTER TABLE [dbo].[CourseInstance]  WITH CHECK ADD  CONSTRAINT [FK_CourseInstance_Course1] FOREIGN KEY([CourseId])
REFERENCES [dbo].[CourseDescription] ([Id])
GO
ALTER TABLE [dbo].[CourseInstance] CHECK CONSTRAINT [FK_CourseInstance_Course1]
GO
ALTER TABLE [dbo].[CourseInstance]  WITH CHECK ADD  CONSTRAINT [FK_CourseInstance_Region] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Region] ([Id])
GO
ALTER TABLE [dbo].[CourseInstance] CHECK CONSTRAINT [FK_CourseInstance_Region]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Organization] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_Member_Organization]
GO
ALTER TABLE [dbo].[Region]  WITH CHECK ADD  CONSTRAINT [FK_Region_Organization] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[Region] CHECK CONSTRAINT [FK_Region_Organization]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Area] FOREIGN KEY([AreaId])
REFERENCES [dbo].[Area] ([Id])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Area]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_ClassGroup] FOREIGN KEY([ClassGroupId])
REFERENCES [dbo].[ClassGroup] ([Id])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_ClassGroup]
GO
ALTER TABLE [dbo].[Suburb]  WITH CHECK ADD  CONSTRAINT [FK_Suburb_Region] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Region] ([Id])
GO
ALTER TABLE [dbo].[Suburb] CHECK CONSTRAINT [FK_Suburb_Region]
GO
ALTER TABLE [dbo].[Venue]  WITH CHECK ADD  CONSTRAINT [FK_Venue_Suburb] FOREIGN KEY([SuburbId])
REFERENCES [dbo].[Suburb] ([Id])
GO
ALTER TABLE [dbo].[Venue] CHECK CONSTRAINT [FK_Venue_Suburb]
GO
ALTER TABLE [dbo].[webpages_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [fk_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[webpages_Roles] ([RoleId])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles] CHECK CONSTRAINT [fk_RoleId]
GO
ALTER TABLE [dbo].[webpages_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [fk_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserProfile] ([UserId])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles] CHECK CONSTRAINT [fk_UserId]
GO
USE [master]
GO
