@model WebUI.Areas.RegionalCoordinator.Models.WizardModel
@{
    ViewBag.Title = "Region";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="partialviewbackground">
 @Html.Partial("_LayoutBackgroundPartial")
</div>


@using (Html.BeginForm()){
<div class="wizardcontents">
    <h2>Create a new region!</h2>
    <fieldset id="region-create">
     
    
    
    <legend class="legend-crud">Insert the name of the new region below:</legend>
    
        <ol>
            <li >@Html.EditorFor(m => m.RegionName)</li>

        </ol>
    <input type="button" value="Back" onclick="location.href='Index'" /> <input class="create-reg-uimp" type="submit" value="Save Changes" />
   <div>@Html.ValidationMessage("Exception")</div>
</fieldset>
    </div>
}

