@model WebUI.Areas.RegionalCoordinator.Models.WizardModel
@{
    ViewBag.Title = "Region";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="partialviewbackground">
 @Html.Partial("_LayoutBackgroundPartial")
</div>


@using (Html.BeginForm()){
<div class="wizardcontents">
    <h2>disable a region</h2>
    <fieldset id="region-delete">
        <legend class="legend-crud">Select the name of the region that you want to disable:</legend>
     @Html.DropDownListFor(m => m.RegionId, new SelectList(Model.Regions.ToList(), "Id", "RegionName"),
        new { @class = "region-del-list", @size=Model.Regions.Count()+1}
     )
    
        <div class="submit-disable">
    <input type="button" value="Back" onclick="location.href='Index'" /> <input type="submit" value="Save Changes" />
            <div>@Html.ValidationMessage("Exception")</div>
    </div>
</fieldset>
    </div>
}

